body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.form-container {
  display: flex;
  justify-content: center;
}
.form-signin {
  width: 100%;
  max-width: 940px;
  padding: 2rem;
  margin: auto;
  background-color: #f3f3f3;
}

.nav{
  width: 100%;
  max-width: 940;
  padding: .5rem;
  margin-bottom: 3em;
  background-color: #acdaec;
}

.nav button{
  float: right;
}

.p-nav{
  color: white;
  font-size: 20px;
  margin-left: 4em;
}

.price{
  color:green;
  font-size: 20px;
}

.icon{
  color: coral;
  width: 10px;
}

.text{
  color: coral;
  text-shadow: 0 0 0.1px coral,
        0 0 0.1px coral
}

.nav-text{
  text-shadow: 0 0 0.3px white,
        0 0 0.3px white
}

.book{
  margin-left: 130px;
  border: coral solid 5px;
  border-radius: 10px;
}

.input{
  margin-left: 30px;
  width: 50px;
  height: 20px;
}

.price-add{
  font-size: 15px;
  color: crimson;
  font-weight: bold;
  
}