extend layout
block content
  nav(class="navbar navbar-expand-md navbar-dark bg-dark mb-5")
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/register">Add Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Order List</a>
            </li>
        </ul>
    </div>
  .form-container
    form(class="form-signin" method="POST" action="/auth/register")
      h2 Book Service
      .form-group
        label( for="name" class="sr-only") Name (Optional)
        input(type="text" name="name" id="name" class="form-control" placeholder="Name")
      .form-group
        label( for="id" class="sr-only") ID
        input(type="text" name="id" id="id" class="form-control" placeholder="id" required)
      .form-group
        label(for="address" class="sr-only") Address
        input(type="text" name="address" id="address" class="form-control" placeholder="address" required)
        <img class="mt-5" src="https://www.b2s.co.th/media/catalog/product/cache/a9f339461e1d230e7c2571bd43680eb2/s/a/sapiens_1.jpg" alt="alternatetext" width="120" >
          <input type="number" name="book1" id="book1">
      button(class="btn btn-primary btn-block" type="submit") Submit

      if (message_error)
        p.alert.alert-danger #{message_error}

      if (message)
        p.alert.alert-success #{message}


  